@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* size */
$base-size: 12px;

/* Fonts */
$title-font: 'Sansita Swashed', cursive;
$main-font: 'Open Sans', sans-serif;

/* global colors */
$background: #596275;
$global-font-color: #303952;
$hover-color: yellow;

/* header colors */
$header-main: #778beb;

/* Footer colors */
$footer-main: #778beb;

/* Transition */
$transition-background: .2s;
$transition-color: .3s;
