@import '../../../styles/settings.scss';

.root {
  font-family: $title-font;
  background-color: $header-main;
  //height: $base-size * 5;
  position: fixed;
  top: 0;
  width: 100%;
}

.home  {
  color: $global-font-color;
  transition: $transition-color;
  height: 30px;
  a {
    text-decoration: none;
    color: $global-font-color;
    transition: $transition-color;
    &:hover {
      color: $hover-color;
      transition: $transition-color;
    }
  }
  &:hover {
    color: $hover-color;
    transition: $transition-color;
  }
}

.title {
  color: $global-font-color;
  font-size: 40px;
}
